<ion-view title="Clock On/Off">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>You are currently clocked
                <strong>off</strong>
            </p>
        </div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Job</span>
                <select>
                    <option>Patterson Job</option>
                    <option>Job 12354</option>
                    <option>Office</option>
                </select>
            </label>
            <a href="#/tabs/clocked_on" class="button button-stable button-block  icon-left ion-android-stopwatch">Clock On</a>
        </form>
    </ion-content>
</ion-view>