<ion-view title="Clock On/Off">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-show="bundyState == 'off'">
            <p>You are currently clocked
                <strong>{{bundyState}}</strong>
            </p>
        <p><span>{{message.time | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}</span></p>
         <p><span>{{bundyopts.locationcoord</span></p>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Job</span>
                <select ng-model="bundyopts.selectedJob">
                    <option enabled="false" default>Please select</option>
                    <option ng-repeat="job in jobList" value={{job.number}}>{{job.client}} , {{job.number}}</option>
                </select>
            </label>
            
            <button class="button button-stable button-block  icon-left ion-android-stopwatch" ng-click='bundy(bundyopts)'>Clock On</button>
        </form>
        </div>
        <div ng-show="bundyState == 'on'">
            <p>You are currently clocked
                <strong>{{bundyState}}</strong> to job {{bundyJob}}</p>
        
        <form class="list">
            <button class="button button-stable button-block  icon-left ion-android-stopwatch" ng-click='bundy(bundyopts)'>Clock Off</button>
        </form>
        </div>
    </ion-content>
</ion-view>