<ion-view title="Review and Submit">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <ion-item href="#/tabs/timesheet">Current Week</ion-item>
            <ion-item>Last Week</ion-item>
            <ion-item class="item-divider">Search</ion-item>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Enter a date dd/mm/yy">
            </label>
        </ion-list>
        <button class="button button-stable button-icon button-small icon ion-ios-search">Search</button>
    </ion-content>
</ion-view>