<ion-view title="Timesheet">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Monday .</td>
                            <td>Job: 1234</td>
                        </tr>
                        <tr>
                            <td>Start.</td>
                            <td>7:30</td>
                            <td>. Finish</td>
                            <td>. 16:30</td>
                        </tr>
                        <tr>
                            <td>
                                Tuesday .</td>
                            <td>Job: 136</td>
                        </tr>
                        <tr>
                            <td>Start.</td>
                            <td>7:30</td>
                            <td>. Finish</td>
                            <td>. 12:30</td>
                        </tr>
                        <tr>
                            <td>
                                Tuesday .</td>
                            <td>Job: 1234</td>
                        </tr>
                        <tr>
                            <td>Start.</td>
                            <td>12:30</td>
                            <td>. Finish</td>
                            <td>. 16:30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="button button-stable button-block  icon-left ion-edit">Update/Save</button>
            <button class="button button-stable button-block  icon-left ion-android-archive">Submit</button>
            <ion-list></ion-list>
        </form>
    </ion-content>
</ion-view>