<ion-view title="Travel Log Book">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Start Odo</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Finish Odo</span>
                <input type="text" placeholder="">
            </label>
            <ion-checkbox>Tolls</ion-checkbox>
            <label class="item item-input">
                <span class="input-label">Tolls Total</span>
                <input type="text" placeholder="">
            </label>
            <a ui-sref="tabsController.home" class="button button-stable button-block  icon-left ion-android-stopwatch">Log Entry</a>
        </form>
    </ion-content>
</ion-view>