<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Timesheets</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()">Logout</button>
    </div>
  </ion-header-bar>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="card">
      <div class="item item-text-wrap">
        {{memberinfo}}
      </div>
    </div>
    
    <button class="button button-full button-balanced" ng-click="getInfo()">
      Get Memberinfo
    </button>
        <a href="#/tabs/bundy" class="button button-stable button-block  icon-left ion-android-stopwatch">Clock On/Off</a>
        <a href="#/tabs/time_home" class="button button-stable button-block  icon-left ion-clock">Review / Submit</a>
        <a href="#/tabs/ch_pword" class="button button-stable button-block  icon-left ion-key">Update Password</a>
        <button class="button button-full button-assertive" ng-click="logout()">Log Off</button>
  </ion-content>
</ion-view>
