<ion-view title="Review and Submit">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <ion-item ui-sref="tabsController.items({startDate:thisweekstart, finishDate:currentdate})">Current Week</ion-item>
            <ion-item ui-sref="tabsController.items({startDate:lastweekstart, finishDate:lastweekend})">Last Week</ion-item>
            <ion-item class="item-divider">Search</ion-item>
            <label class="item item-input">
                
                <input type="search" placeholder="From date dd/mm/yy" ng-model="startingDate">
                
            </label>
            <label class="item item-input">
            <input type="search" placeholder="To date dd/mm/yy" ng-model="finishingDate">
            </label>
        </ion-list>
        <a ui-sref="tabsController.items({startDate:startingDate, finishDate:finishingDate})"><button class="button button-stable button-icon button-small icon ion-ios-search">Search</button></a>
        
    </ion-content>
</ion-view>