<ion-view title="Timesheet">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div>
                <table ng-table="tableParams" show-filter="false" class="table table-condensed table-bordered table-striped">
                  <tr ng-repeat="row in tableParams.data">
                    <td data-title="'Clock On'" filter="{dateon: 'number'}" sortable="'startdatetime'">{{row.startdatetime | amUtcOffset:'+1000' | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}</td>
                    <td data-title="'Clock Off'" filter="{dateoff: 'number'}" sortable="'finishdatetime'">{{row.finishdatetime | amUtcOffset:'+1000' | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}</td>
                    <td data-title="'Job Number'" filter="{jobnumber: 'text'}" sortable="'jobnumber'">{{row.jobnumber}}</td>
                  </tr>
                </table>
            </div>
            <button class="button button-stable button-block  icon-left ion-edit">Update/Save</button>
            <button class="button button-stable button-block  icon-left ion-android-archive">Submit</button>
            <ion-list></ion-list>
        </form>
    </ion-content>
</ion-view>